{% include 'header.html.twig' %}
<h1>Strona główna</h1>
{% for post in posts %}
<div>{{ post.getTitle }}</div>
<div>{{ post.getTimestamp }}</div>
<img src="{{ post.getImageUrl() }}">
{% endfor %}
{% include 'footer.html.twig' %}